<footer class="text-center footer text-lg-start" style="background-color:#0c274e;">
    <div class="text-center" style="padding: 1% 1% 1% 1%;">
        <h5 class="text-uppercase inline text-white">Links</h5>

        <ul class="list-unstyled mb-0">
            <li>
                <a href="/" class="text-white">Home</a>
            </li>
            <li>

                <a href="/register" class="text-white">Registeration</a>
            </li>
            <li>

                <a href="/report" class="text-white">Report</a>
            </li>
        </ul>
    </div>
    <div class="text-center p-3" style="background-color: #051937;">
        <p class="text-white"> Contactless Attendance Management System</p>
    </div>

</footer>