<div class="sticky-top"
    style="background-image:linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #cad6ae);">
    <nav class="navbar navbar-dark navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="#">
                <img src="images/favicon.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
                Presenza</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav" id="linkColor">
                    <a class="nav-link active text-white" aria-current="page" href="/register">Registeration</a>
                    <a class=" nav-link text-white" href="/report">Report</a>
                    <a class="nav-link text-white" href="/stream">Stream Video</a>
                </div>
            </div>
        </div>
    </nav>
</div>