create table student(
student_name varchar(40),
rollno int,
address varchar(100),
branch varchar(20),
email varchar(60),
s_id int not null auto_increment,
primary key(s_id, rollno)
)

create table attendence(
a_id int not null auto_increment,
attend int,
s_id int,
attend_date date,
primary key(a_id),
foreign key(s_id) references student(s_id)
);

alter table attendence
add constraint unique(s_id, attend_date);

DROP INDEX attend ON attendence;

--Attendence Procedure
delimiter $
create procedure attendence_procedure(in rollno int)
begin
	select @stud_id:=student.s_id from student where student.rollno=rollno;
	insert into attendence(s_id, attend, attend_date)
	values(@stud_id, 1, now());
end $
delimiter ;

--Count of attendence procedure
delimiter $
create procedure total_attendence(
in roll_no int, 
in begin_date date,
in last_date date)
begin
select @stud_id:=student.s_id from student where student.rollno = roll_no;
SELECT 
count(attendence.attend) 
from attendence 
where s_id = @stud_id and attend_date between begin_date and last_date;
end $
delimiter ;

--Registration Procedure
delimiter $
create procedure register(in stud_name varchar(40), 
in roll_no int, 
in addr varchar(100), 
in brnch varchar(40),
in emailaddr varchar(60))
begin
insert into student(student_name, rollno, address, branch, email)
values(stud_name, roll_no, addr, brnch, emailaddr);
end $
delimiter ;


--To call procedures:-
--call <Procedure Name> (<Parameters>)