create table student(
student_name varchar(40),
rollno int not null,
address varchar(100),
branch varchar(20),
email varchar(60),
primary key(rollno)
);

create table attendence(
rollno int,
attend int,
attend_date date,
foreign key(rollno) references student(rollno)
);

alter table attendence
add constraint unique(rollno, attend_date);

DELIMITER $
create procedure attendence_procedure(in roll_no int)
begin
	select rollno from student where student.rollno=roll_no;
	insert into attendence(rollno,attend, attend_date)
	values(roll_no, 1, now());
end $
delimiter ;

delimiter $
create procedure total_attendence3(
in begin_date date,
in last_date date)
begin
SELECT student.rollno, student.student_name, attendence.attend_date
FROM student
right JOIN attendence ON student.rollno=attendence.rollno
where attend_date between begin_date and last_date
order by attend_date asc;
end $
delimiter ;

delimiter $
create procedure register(
in stud_name varchar(40), 
in roll_no int, 
in addr varchar(100), 
in brnch varchar(40),
in emailaddr varchar(60)
)
begin
insert into student(student_name, rollno, address, branch, email)
values(stud_name, roll_no, addr, brnch, emailaddr);
end $
delimiter ;

--call register(<parameters>)