<% layout('layouts/boilerplate') %>


    <div class="mt-4 pt-2 main">
        <div class="card text-center shadow-lg rounded" style="height: 92vh;">
            <div class="menu">
                <ul class="nav mt-3">
                    <li class="nav-item">
                        <a class="nav-link active text-dark" aria-current="true" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/register">Registeration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="/report" tabindex="-1" aria-disabled="true">Report</a>
                    </li>
                </ul>
            </div>
            <hr>
            <div class="card-body">
                <div class="container-fluid px-0">
                    <div class="row">
                        <div class="col-6 info">
                            <div class="title">
                                <h1 class="h text-shadow display-2">
                                    Presenza<sup class="display-6">&#169</sup></h1>
                                <p class="display-sm">(Attendence in Italian)</p>
                            </div>
                            <div class="text">
                                <p class="h3">Contactless Attendence Management System</p>
                                <p class="h4">Safest in the times of COVID-19</p>
                                <p class="h5">Reliable | Robust | Secure</p>
                            </div>
                        </div>
                        <div class="col-6" id="image">
                            <img class="img-fluid" src="images/FR.jpg" alt="">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>