<% layout('layouts/boilerplate') %>

    <div class="date container">
        <div class="row">
            <div class="md-form col-md-6">
                <label for="date-picker-example">From</label>
                <input placeholder="Select date" type="date" id="date-picker-example" class="form-control datepicker"
                    required>
            </div>

            <div class="md-form col-md-6">
                <label for="date-picker-example">To</label>
                <input placeholder="Select date" type="date" id="date-picker-example" class="form-control datepicker"
                    required>
            </div>
        </div>
        <form action="">
            <div id="button">
                <button type="submit" class="btn btn-primary">View Report</button>
            </div>
        </form>
        <div class="tbody">
            <table class="table" id="tb">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
            <button class="btn" onclick="tableToExcel()">Download</button>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>