<% layout('layouts/boilerplate') %>

    <div style="height: 100vh;">
        <form action="">
            <div class="date container">
                <div class="row">
                    <div class="md-form col-md-6">
                        <label for="date-picker-example">From</label>
                        <input placeholder="Select date" type="date" id="from-date-picker-example"
                            class="form-control datepicker" required name="begin_date">
                    </div>

                    <div class="md-form col-md-6">
                        <label for="date-picker-example">To</label>
                        <input placeholder="Select date" type="date" id="to-date-picker-example"
                            class="form-control datepicker" required name="last_date">
                    </div>
                </div>

                <div id="button">
                    <button type="submit" id="submit" class="btn btn-primary">View Report</button>
                </div>
            </div>
        </form>
        <div class="">
            <table class="table" id="tb">
                <thead>

                </thead>
                <tbody id="display">

                </tbody>
            </table>
            <button class="btn btn-primary" id="download" onclick="tableToExcel()">Download</button>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>