<% layout('layouts/boilerplate') %>


    <div class="c">
        <div class="card text-center mt-5 animated flash" id="card">
            <div class="card-header">
                Regestration Details
            </div>
            <div class="card-body">
                <p class="card-text" style="color: green;">Regestration Completed Successfully .</p>
                <a href="/report" class="btn" style="background-color: #D3CAE3;">Check Report</a>
                <a href="/stream" class="btn" style="background-color: #D3CAE3;">Mark Attendence</a>
            </div>
        </div>
    </div>
    </div>